####################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio. #
####################################################################################

bin/
obj/
tmp/
.vs/

Resources/source.zip

*.exe
*.csproj.user
*.ruleset
